* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.left {
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
}

.right {
    width: 80%;
    height: 100%;
    padding-left: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

img {
    border: 1px black solid;
}

.pfp {
    height: 200px;
    width: 200px;
}

ul {
    padding-left: 20px;
}